<div class="col-lg-12", "col-md-12", "col-sm-12", "col-xs-12">
	<h1>Here you can encrypt any text in English by Caesar cipher.</h1>
	<p>For additional information visit <%= link_to "Help", pages_help_path %> and <%= link_to "About", pages_about_path %> pages</p>
	<hr />
  
  <%= form_tag pages_result_path, method: "post" do %>
    
    <div class="row">
  	  <div class=	"col-lg-5 col-md-5 col-sm-5 col-xs-5">
    	<%=text_area_tag :clear_text, @decrypted_text, class: 'form-control', rows: 10, placeholder: "Decrypted or clear text"%>
      </div>

      <div class=	"col-lg-2 col-md-2 col-sm-2 col-xs-2">
      	<h4>Select shift</h4>
      	<%= select_tag :shift, options_for_select((1..26).to_a.map { |shift| [shift,shift] }, @shift), class: 'form-control'%>
      	<hr />
      	<%= button_tag(type: 'submit', class: "btn btn-default btn-lg btn-danger btn-block", name: 'Encrypt') do %>
  		  Encrypt <span class="glyphicon glyphicon-chevron-right"></span> 
		<% end %>
		<%= button_tag(type: 'submit', class: "btn btn-default btn-lg btn-success btn-block", name: 'Decrypt') do %>
  		  <span class="glyphicon glyphicon-chevron-left"></span> Decrypt  
		<% end %>
      </div>

      <div class=	"col-lg-5 col-md-5 col-sm-5 col-xs-5">
    	<%=text_area_tag :cyphred_text, @encrypted_text, class: 'form-control', rows: 10, placeholder: "Encrypted text"%>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <h2 align="center">Frequency diagram of Your text:</h2>
        <%= column_chart @letter_frequency, height: "400px" %>
      </div>
    </div>
  <% end %>
</div>